<% post = @message unless @message.nil? %>
<table class="thread" cellspacing="0" id="p<%= post.id %>">
  <thead>
    <tr>
     <th>Posted - <%= time_ago_or_time_stamp(post.created_at, Time.now, true, true) %></th>
      <th class="thr">
        <% if controller_name == "messages" %>
          <%= link_to post.topic.title + ' &raquo;', topic_message_path(post) %>
        <% else %>
          		<%= " #" + (index).to_s  %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td class="profile">
       <dl>
         <dt><%= post.nickname.name %></dt>
         <dd class="rank"><%= rank_for(post.nickname) %></dd>
         <dd><% # image_tag post.nickname.name.gravatar_url %></dd>
         <dd>Registered: <%= post.nickname.created_at.strftime("%b, %Y") %></dd>

         <dd>Posts: <%= post.nickname.messages_count %></dd>
       </dl>
     </td>
	<td class="body">
        <div class="post-body">
          <%= bb(post.content) %>
          <% if (post.updated_at > post.created_at + 5.minutes) %>
            <p class="edited">
              Last edited <%= post.updated_at.strftime("%b, %d, %Y") %>
              <%= 'by ' + post.editor.name unless post.editor.nil? %>
            </p>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
	 <td>
        &nbsp;
      </td>
      <td class="body links">
        <span id ="post-link-<%= post.id %>">
          <%= link_to_function 'Link', "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>
        <span id="post-links-<%= post.id %>" style="display:none;">
		  &nbsp; <%= link_to 'Show Message', message_path(post) %>
          &nbsp; <%= link_to 'Topic', topic_message_path(post) %>
          &nbsp; <%= link_to_function '(x)', "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>   
        <% if can_edit?(post) %>
          &nbsp; <%= link_to 'Edit', edit_message_path(post) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>