<div class="info-left">
  <span class="title">Forum</span>
  <span class="detail">&nbsp;|&nbsp;
    <%= pluralize(number_with_delimiter(@messages_count) || 0, 'Post') %> in 
    <%= pluralize(number_with_delimiter(@topics_count) || 0, 'Topic') %> &nbsp;|&nbsp;
<!-- leaving this search here... will replace later
<%= render :partial => "search/search", :locals => {:urly => forum_search_path} %>
-->
  </span>
</div>
<% #View all topics, add from unsocial if needed. %>
<div style="clear:both;"> </div>

<% for category in @categories %>
    <table cellspacing="0" class="forums-index">
      <thead>
        <tr>
          <th colspan="5"><%=h category.name %></th>
        </tr>
        <tr class="forums-list">
          <th class="tcl" colspan="2">Forums</th>
          <th class="tcm">Topics</th>
          <th class="tcm">Posts</th>
          <th class="tcr">Activity</th>
        </tr>
      </thead>
      <tbody>
        <% for forum in category.forums %>
          <tr>
			<td class='tci'></td>
            <td class="tcl">
              <span class="forum-name"><%= link_to h(forum.name), forum %></span>
              <br /><%=h forum.description %>
            </td>
            <td class="tcm"><%= number_with_delimiter(forum.topics_count) %></td>
            <td class="tcm"><%= number_with_delimiter(forum.messages_count) %></td>
            <td class="tcr">
            <% if forum.messages_count > 0 %>
                      <% if logged_in? %>
		                  <%= link_to time_ago_or_time_stamp(forum.last_topic.last_post_at), show_new_forum_topic_path(:forum_id, forum.last_topic) %>
		                <% else %>
		                  <%= time_ago_or_time_stamp(forum.last_topic.last_post_at) %>
		                <% end %>
               <br /> by <%=h forum.last_topic.last_poster.login %>
               <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>  
    </table>
<% end %>
<!--
<p>
  <% unless members_online.empty? %>
    Recent Visitors: <%= members_online.map { |u| link_to "#{h u.login}", u } * ", " %>
  <% end %></p> 
-->